In [18]:
%config IPCompleter.greedy=True
import requests
import pandas as pd
import numpy as np

from bs4 import BeautifulSoup
from datetime import datetime

In [19]:
url = 'https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares'
response = requests.get(url=url)
soup = BeautifulSoup(response.text, 'lxml')

In [20]:
table = soup.find('table', {'class': 'table table-striped table-responsive-md'})
df = pd.read_html(str(table))
df = df[0]
df.columns = ['rank', 'x_classification', 'date', 'region', 'start_time', 'maximum_time', 'end_time', 'movie']
df.head()

,rank,x_classification,date,region,start_time,maximum_time,end_time,movie
0,1,X28.0,2003/11/04,486,19:29,19:53,20:06,MovieView archive
1,2,X20.0,2001/04/02,9393,21:32,21:51,22:03,MovieView archive
2,3,X17.2,2003/10/28,486,09:51,11:10,11:24,MovieView archive
3,4,X17.0,2005/09/07,808,17:17,17:40,18:03,MovieView archive
4,5,X14.4,2001/04/15,9415,13:19,13:50,13:55,MovieView archive

In [21]:
df = df.drop('movie', axis=1)
df.head()

   rank x_classification        date  region start_time maximum_time end_time
0     1            X28.0  2003/11/04     486      19:29        19:53    20:06
1     2            X20.0  2001/04/02    9393      21:32        21:51    22:03
2     3            X17.2  2003/10/28     486      09:51        11:10    11:24
3     4            X17.0  2005/09/07     808      17:17        17:40    18:03
4     5            X14.4  2001/04/15    9415      13:19        13:50    13:55

In [22]:
for index, row in df.iterrows():
    print(row)
    print()

rank                         1
x_classification         X28.0
date                2003/11/04
region                     486
start_time               19:29
maximum_time             19:53
end_time                 20:06
Name: 0, dtype: object

rank                         2
x_classification         X20.0
date                2001/04/02
region                    9393
start_time               21:32
maximum_time             21:51
end_time                 22:03
Name: 1, dtype: object

rank                         3
x_classification         X17.2
date                2003/10/28
region                     486
start_time               09:51
maximum_time             11:10
end_time                 11:24
Name: 2, dtype: object

rank                         4
x_classification         X17.0
date                2005/09/07
region                     808
start_time               17:17
maximum_time             17:40
end_time                 18:03
Name: 3, dtype: object

rank                         5
x_classification         X14.4
date                2001/04/15
region                    9415
start_time               13:19
maximum_time             13:50
end_time                 13:55
Name: 4, dtype: object

rank                         6
x_classification         X10.0
date                2003/10/29
region                     486
start_time               20:37
maximum_time             20:49
end_time                 21:01
Name: 5, dtype: object

rank                         7
x_classification          X9.4
date                1997/11/06
region                    8100
start_time               11:49
maximum_time             11:55
end_time                 12:01
Name: 6, dtype: object

rank                         8
x_classification          X9.3
date                2017/09/06
region                    2673
start_time               11:53
maximum_time             12:02
end_time                 12:10
Name: 7, dtype: object

rank                         9
x_classification          X9.0
date                2006/12/05
region                     930
start_time               10:18
maximum_time             10:35
end_time                 10:45
Name: 8, dtype: object

rank                        10
x_classification          X8.3
date                2003/11/02
region                     486
start_time               17:03
maximum_time             17:25
end_time                 17:39
Name: 9, dtype: object

rank                        11
x_classification          X8.2
date                2017/09/10
region                    2673
start_time               15:35
maximum_time             16:06
end_time                 16:31
Name: 10, dtype: object

rank                        12
x_classification          X7.1
date                2005/01/20
region                     720
start_time               06:36
maximum_time             07:01
end_time                 07:26
Name: 11, dtype: object

rank                        13
x_classification          X6.9
date                2011/08/09
region                    1263
start_time               07:48
maximum_time             08:05
end_time                 08:08
Name: 12, dtype: object

rank                        14
x_classification          X6.5
date                2006/12/06
region                     930
start_time               18:29
maximum_time             18:47
end_time                 19:00
Name: 13, dtype: object

rank                        15
x_classification          X6.2
date                2005/09/09
region                     808
start_time               19:13
maximum_time             20:04
end_time                 20:36
Name: 14, dtype: object

rank                        16
x_classification          X6.2
date                2001/12/13
region                    9733
start_time               14:20
maximum_time             14:30
end_time                 14:35
Name: 15, dtype: object

rank                        17
x_classification          X5.7
date                2000/07/14
region                    9077
start_time               10:03
maximum_time             10:24
end_time                 10:43
Name: 16, dtype: object

rank                        18
x_classification          X5.6
date                2001/04/06
region                    9415
start_time               19:10
maximum_time             19:21
end_time                 19:31
Name: 17, dtype: object

rank                        19
x_classification          X5.4
date                2012/03/07
region                    1429
start_time               00:02
maximum_time             00:24
end_time                 00:40
Name: 18, dtype: object

rank                        20
x_classification          X5.4
date                2003/10/23
region                     486
start_time               08:19
maximum_time             08:35
end_time                 08:49
Name: 19, dtype: object

rank                        21
x_classification          X5.4
date                2005/09/08
region                     808
start_time               20:52
maximum_time             21:06
end_time                 21:17
Name: 20, dtype: object

rank                        22
x_classification          X5.3
date                2001/08/25
region                    9591
start_time               16:23
maximum_time             16:45
end_time                 17:04
Name: 21, dtype: object

rank                        23
x_classification          X4.9
date                1998/08/18
region                    8307
start_time               22:10
maximum_time             22:19
end_time                 22:28
Name: 22, dtype: object

rank                        24
x_classification          X4.9
date                2014/02/25
region                    1990
start_time               00:39
maximum_time             00:49
end_time                 01:03
Name: 23, dtype: object

rank                        25
x_classification          X4.8
date                2002/07/23
region                      39
start_time               00:18
maximum_time             00:35
end_time                 00:47
Name: 24, dtype: object

rank                        26
x_classification          X4.0
date                2000/11/26
region                    9236
start_time               16:34
maximum_time             16:48
end_time                 16:56
Name: 25, dtype: object

rank                        27
x_classification          X3.9
date                1998/08/19
region                    8307
start_time               21:35
maximum_time             21:45
end_time                 21:50
Name: 26, dtype: object

rank                        28
x_classification          X3.9
date                2003/11/03
region                     488
start_time               09:43
maximum_time             09:55
end_time                 10:19
Name: 27, dtype: object

rank                        29
x_classification          X3.8
date                2005/01/17
region                     720
start_time               06:59
maximum_time             09:52
end_time                 10:07
Name: 28, dtype: object

rank                        30
x_classification          X3.7
date                1998/11/22
region                    8384
start_time               06:30
maximum_time             06:42
end_time                 06:49
Name: 29, dtype: object

rank                        31
x_classification          X3.6
date                2003/05/28
region                     365
start_time               00:17
maximum_time             00:27
end_time                 00:39
Name: 30, dtype: object

rank                        32
x_classification          X3.6
date                2004/07/16
region                     649
start_time               13:49
maximum_time             13:55
end_time                 14:01
Name: 31, dtype: object

rank                        33
x_classification          X3.6
date                2005/09/09
region                     808
start_time               09:42
maximum_time             09:59
end_time                 10:08
Name: 32, dtype: object

rank                        34
x_classification          X3.4
date                2006/12/13
region                     930
start_time               02:14
maximum_time             02:40
end_time                 02:57
Name: 33, dtype: object

rank                        35
x_classification          X3.4
date                2001/12/28
region                    9767
start_time               20:02
maximum_time             20:45
end_time                 21:32
Name: 34, dtype: object

rank                        36
x_classification          X3.3
date                1998/11/28
region                    8395
start_time               04:54
maximum_time             05:52
end_time                 06:13
Name: 35, dtype: object

rank                        37
x_classification          X3.3
date                2002/07/20
region                      39
start_time               21:04
maximum_time             21:30
end_time                 21:54
Name: 36, dtype: object

rank                        38
x_classification          X3.3
date                2013/11/05
region                    1890
start_time               22:07
maximum_time             22:12
end_time                 22:15
Name: 37, dtype: object

rank                        39
x_classification          X3.2
date                2013/05/14
region                    1748
start_time               00:00
maximum_time             01:11
end_time                 01:20
Name: 38, dtype: object

rank                        40
x_classification          X3.1
date                2014/10/24
region                    2192
start_time               21:07
maximum_time             21:41
end_time                 22:13
Name: 39, dtype: object

rank                        41
x_classification          X3.1
date                2002/08/24
region                      69
start_time               00:49
maximum_time             01:12
end_time                 01:31
Name: 40, dtype: object

rank                        42
x_classification          X3.0
date                2002/07/15
region                      30
start_time               19:59
maximum_time             20:08
end_time                 20:14
Name: 41, dtype: object

rank                        43
x_classification          X2.8
date                1998/08/18
region                    8307
start_time               08:14
maximum_time             08:24
end_time                 08:32
Name: 42, dtype: object

rank                        44
x_classification          X2.8
date                2001/12/11
region                    9733
start_time               07:58
maximum_time             08:08
end_time                 08:14
Name: 43, dtype: object

rank                        45
x_classification          X2.8
date                2013/05/13
region                    1748
start_time               15:48
maximum_time             16:05
end_time                 16:16
Name: 44, dtype: object

rank                        46
x_classification          X2.7
date                2015/05/05
region                    2339
start_time               22:05
maximum_time             22:11
end_time                 22:15
Name: 45, dtype: object

rank                        47
x_classification          X2.7
date                1998/05/06
region                    8210
start_time               07:58
maximum_time             08:09
end_time                 08:20
Name: 46, dtype: object

rank                        48
x_classification          X2.7
date                2003/11/03
region                     488
start_time               01:09
maximum_time             01:30
end_time                 01:45
Name: 47, dtype: object

rank                        49
x_classification          X2.6
date                2005/01/15
region                     720
start_time               22:25
maximum_time             23:02
end_time                 23:31
Name: 48, dtype: object

rank                        50
x_classification          X2.6
date                1997/11/27
region                    8113
start_time               12:59
maximum_time             13:17
end_time                 13:20
Name: 49, dtype: object